body  {
  background-color: #A5A5Af;
  color: white;
  font-family: Helvetica, sans-serif;
}

#nav-bar {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1;
  background-color: #015249;
  height: 45px;
  border-bottom: solid white 1px;
}

nav li {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  margin: auto;
}

nav a {
  text-decoration: none;
  color: #A5A5Af;
  padding: 4px 50px;
}

li a:hover {
  color: white;
  background-color: #777;
  border-radius: 30px;
}

li a:active {
  background-color: pink;
}

a:visited {
  color: pink;
}

#banner {
  margin-top: 50px;
}

#banner img {
  width: 300px;
  height: 300px;
  margin: auto;
/*  border-style: inset;*/
  border-radius: 50%;
  box-shadow: 10px 10px 10px #777;
  margin: 2px;
}

h1, h2, h3 {
  font-family: "Fredoka One", sans-serif;
  letter-spacing: .07em;
  color: black;
}

#intro {
  padding: 10px;

}

footer {
  text-align: center;
}

.description {
  background-color: #4E78A0;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border: solid white 1px;
}

#test {
  background-image: url("images/view.jpg");
  background-color: #4E78A0;
}
